* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
  color: #472f1d;
}

a {
  text-decoration: none;
  color: #2769b5;
}

/*HEADER*/
.padding-nav {
  padding: 16px 10%;
}

.container {
  display: grid;
  grid-template-columns: 1fr;
}

.container .nav {
  background-color: #472f1d7c;
  border-bottom: 1px solid #472f1d;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.container .nav img {
  height: 50px;
}

.container .nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.container .nav ul li {
  display: inline-block;
  margin-right: 16px;
}

.container .nav ul li:last-child {
  margin-right: 0;
}

.container .nav ul li a {
  padding: 4px 8px;
  color: #472f1d;
}

.container .nav ul li a:hover {
  border-bottom: 1px solid #472f1d;
}

/*MAIN-AREA*/

.main-area {
  margin: 0 auto;
}

.grid-2-cols--1 {
  display: grid;
  grid-template-columns: 1fr 2fr;
  padding: 60px 120px;
  column-gap: 20px;
}

.grid-2-cols--2 {
  display: grid;
  grid-template-columns: 2fr 1fr;
  padding: 60px 120px;
  column-gap: 20px;
  background-color: #472f1d7c;
  margin-bottom: 140px;
}

.img-box {
  display: grid;
  grid-template-columns: 1fr;
}

.img-box .img-1 {
  justify-self: right;
}

.img-box img {
  height: 350px;
}

.grid-headings {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 50px;
}

.grid-paragraphs {
  font-weight: 500;
  font-size: 22px;
  margin-bottom: 50px;
}

.btn {
  padding: 15px 30px;
  background-color: #472f1d7c;
  color: #472f1d;
  border-radius: 50px;
  transition: all 0.4s;
}

.btn:hover {
  background-color: #472f1d;
  color: #f7f7f7;
}

.team-section {
  margin-bottom: 120px;
}

.team-heading {
  text-align: center;
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 14px;
}

.team-text {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 120px;
}

.cards {
  display: flex;
  justify-content: center;
  column-gap: 42px;
}

.card {
  padding: 25px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  box-shadow: 0px 8px 14px -3px rgba(0, 0, 0, 0.75);
  border-radius: 14px;
  transition: all 0.7s;
}

.card:hover {
  transform: scale(1.1);
}

.card-image {
  height: 250px;
  border: 4px solid black;
  border-radius: 50%;
}

.member-name {
  color: #472f1d;
  font-size: 24px;
  font-weight: 600;
}

.member-title {
  font-size: 18px;
  color: #472f1d;
  font-weight: 500;
}

.member-mail {
  color: #a2a2a2;
}

/*FOOTER*/
.padding-footer {
  padding: 16px 10%;
}

.footer {
  border-top: 1px solid #000;
  background-color: #fff;
}

.footer div {
  display: flex;
  align-items: center;
  justify-content: space-between;
  align-items: flex-start;
}

.copyright {
  text-align: center;
  font-size: 14px;
  color: #a2a2a2;
  font-weight: 200;
  margin: 0;
  background-color: #f2f2f2;
}

.footer .footer-logo {
  width: 50%;
  font-size: 14px;
}

.footer .footer-col {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer .footer-col p {
  margin-bottom: 16px;
}

.footer .footer-col i {
  margin-right: 8px;
}

.footer .footer-logo img {
  width: 120px;
}

.footer .copyright {
  padding: 18px 10%;
}

.footer-text {
  font-weight: 600;
}

@media (max-width: 376px) {
  /*HEADER*/

  .container .nav img {
    height: 100px;
  }

  .container .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    font-size: 24px;
  }
  .container .nav ul li {
    margin-right: 0;
  }
  .container .nav ul {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 6px;
  }

  /*MAIN-PART*/
  .grid-2-cols--1,
  .grid-2-cols--2 {
    grid-template-columns: 4fr;
    padding-left: 30px;
    padding-right: 30px;
    padding-bottom: 150px;
  }

  .img-box .img-1,
  .img-box .img-2 {
    margin-top: 60px;
    width: 100%;
    height: 250px;
  }

  .grid-headings {
    margin-top: 42px;
    font-size: 38px;
    font-weight: 700;
    margin-bottom: 50px;
  }
  .grid-paragraphs {
    font-weight: 510;
    font-size: 28px;
    margin-bottom: 50px;
    line-height: 1.5;
    text-align: justify;
  }

  .btn {
    padding: 15px 25px;
    background-color: #472f1d7c;
    color: #472f1d;
    border-radius: 50px;
    transition: all 0.4s;
    font-size: 28px;
  }

  .team-section {
    width: 100%;
    padding: 42px 100px;
    display: flex;
    flex-direction: column;
  }

  .cards {
    flex-direction: column;
    gap: 40px;
  }

  /*FOOTER*/
  .footer div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 22px;
  }

  .footer .footer-col .footer-img {
    height: 142px;
    width: 200px;
  }

  .footer .footer-logo {
    width: 75%;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }

  .footer .footer-logo .footer-text {
    text-align: center;
  }

  .footer .footer-col {
    align-items: center;
    margin-bottom: 30px;
    font-size: 22px;
  }

  .footer .footer-col i {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .footer .footer-col .socials {
    display: flex;
    align-items: center;
    gap: 5px;
  }

  .footer .copyright {
    font-size: 22px;
  }
}
